        .body{
        	font-family: "Arial" ;
        	background: #fff;

        }
        .site-layout{
			margin: 0 auto;
			position: relative;
		}
		.header{
			position: absolute;
			top: 0px;
            left: 0px;
            right: 0px;

		}
		.nav{

			text-align: center;
			text-transform: uppercase;
			padding: 70px 0 85px;

		}
		.nav-list{

		}
		.nav-list__item{
			display: inline-block;
			padding-right: 25px;
			padding-left: 25px;
			font-size: 16px;
			text-decoration: none;

		}
		.nav-link{
			color: #fff;
		
        }

		.nav-link:hover{
			color: #ccc;
			text-decoration: none;

		}
		.home-section{
			height: 100vh;
			min-height: 700px;
			background: #2f212b;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url("Background.jpg");
			background-repeat: no-repeat;
			background-position: center  bottom;
			background-size: cover;
			text-align: center;

		}
		.home-section__item{

		}

		.home-section__title{
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 15px;

		}
		.home-section__text{
			color: #fff;
			font-size: 16px;
			margin-bottom: 20px;

		}
		.enter-button{
			color: #fff;
			background-color: #16a085;
			border: 0;
			padding: 20px 30px;
			display: inline-block;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 3px;

		}
		.enter-button:hover{
			background-color: #0e826b;
			color: #fff;

		}
		.servies-section{
			background: #f5f6f7;
			min-height: 500px;

		}
		.servies-section-content{
			width: 1025px;
			text-align: left;
			background-image: url("servies-section-img.jpg");
			background-position: right bottom; 
			background-repeat: no-repeat;
			background-size: auto;
			margin-left: auto;
			margin-right: auto;
			padding-top: 90px;
			padding-bottom: 90px;

		}
		.servies-section-content-about{
			width: 398px;
			
		}
		.servies-section-content__title{
			margin-bottom: 40px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			color: #16a085;

		}
		.servies-section-content__text{
			font-size: 14px;
			font-family: "Myriad Pro"''
			margin-bottom: 40px;

		}
		.community-section{
			width: 1025px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding-top: 90px;
			padding-bottom: 90px;

		}
		.community-section-content{
			display: flex;
			align-items: center;

		}
		.community-section-content__desc{
			align-items: center;

			
		}
		.community-section-content__logo{
			margin-bottom: 15px;

		}
		.community-section-conten__item{
			text-align: center;

		}
		.community-section-conten__title{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;

		}
		.community-section-conten__text{
			font-size: 12px;

		}
		.community-section-content__image{
			padding-right: 15px;
			padding-left: 15px;
		}
		.sing-section{
			height: 100vh;
			min-height: 700px;
			background: #2f212b;
			
			background-image: url("Livello 3.jpg");
			background-repeat: no-repeat;
			background-position: center  bottom;
			background-size: cover;
			
		}
		
		.sing-section__item{
			justify-content: center;
			align-items: center;
			text-align: center;

		}
		.sign-section__name{
			color: #fff;
			font-size: 26px;
			font-weight: bold;
			text-transform: uppercase;


		}
		.sing-section__action-window{
		
		}
		.sing-section-enter{
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			width: 280px;
			height: 60px;
			border-radius: 3px 0 0 3px;
			border: 0;
			
		}
		.sing-section__enter-button{
			color: #fff;
			background-color: #16a085;
			border: 0;
			width: 63px;
			height: 60px;
			display: inline-block;
			border: none;
			cursor: pointer;
			text-transform: uppercase;
			border-radius: 0 3px 3px 0;


		}
		.sing-section__enter-button:hover{
			background-color: #0e826b;
			color: #fff;

		}

