        .body{
        	font-family: "Gotham Rounded - Book", Arial, sans-serif;
            font-size: 12px;
            font-weight: normal;

        }
        .site-layout{
			margin: 0 auto;
			position: relative;
		}
		header{
			position: absolute;
			top: 40px;
            left: 0px;
            right: 0px;
           
		}
		.header-logo{
			display: flex;
        	align-items: center;
        	justify-content: center;
        	top: 5px;
        	width: 53px;
            height: 55px;
            background-image: url("logo.png");
		}
		.nav{
			display: flex;
        	align-items: center;
        	justify-content: center;

		}
		.nav-bar{
            list-style: none;
        	display: flex;

		}
		.nav-bar__item{
			margin-right: 25px;
			margin-left: 25px

		}
		.nav-link{
			color: #fff;
        	font-size: 16px;
        	letter-spacing: 2.4px;
        	text-transform: uppercase;
		
        }

		.nav-link:hover{
			color: #ccc;
			text-decoration: none;

		}
		.home-section{
			height: 100vh;
			min-height: 700px;
			background: #2f212b;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url("Background.jpg");
			background-repeat: no-repeat;
			background-position: center  bottom;
			background-size: cover;
			text-align: center;

		}
		.home-section__content{
            width: 499px;
            height: 135px;

		}

		.home-section__title{
            color: #fff;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 5.4px;

		}
		.home-section__text{
			color: #fff;
            font-size: 16px;
            letter-spacing: 2.4px;

		}
		.enter-button{
			cursor: pointer;*/
			font-family: "Gotham Rounded - Book", Arial, sans-serif;
			color: #fff;
			background-color: #16a085;
			border: 0;
			padding: 21px 31px 18px 31px;
			display: inline-block;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 3px;
		}
		.enter-button:hover{
			background-color: #0e826b;
			color: #fff;
			text-decoration: none; 	

		}
		.servies-section{
			background: #f5f6f7;
			min-height: 500px;

		}
		.servies-section__content{
			width: 1280px;
            height: 494px;
            background-color: #f5f6f7;
			text-align: left;
			background-image: url("servies-section-img.jpg");
			background-position: right bottom; 
			background-repeat: no-repeat;
			background-size: auto;
			margin-left: auto;
			margin-right: auto;
			padding-top: 90px;
			padding-bottom: 90px;

		}
		.servies-section__content-about{
			width: 398px;
			
		}
		.servies-section__content-title{
			margin-bottom: 40px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			color: #16a085;

		}
		.servies-section__content-text{
			font-size: 14px;
			font-family: "Myriad Pro"''
			margin-bottom: 40px;

		}
		.community-section{
            width: 1280px;
            height: 483px;
            background-color: #f5f6f7;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding-top: 90px;
			padding-bottom: 90px;

		}
		.community-section__content{
			display: flex;
			align-items: center;

		}
		.community-section__content-desc{
			align-items: center;

			
		}
		.community-section__content-logo{
			margin-bottom: 15px;

		}
		.community-section__conten-about{
			text-align: center;

		}
		.community-section__conten-title{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;

		}
		.community-section__conten-text{
			font-size: 12px;

		}
		.community-section__content-image{
			padding-right: 15px;
			padding-left: 15px;
		}
		.subscription-section{
			width: 1280px;
			height: 790px;
			/*height: 100vh;*/
			min-height: 700px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			background-image: url("Livello 3.jpg");
			background-repeat: no-repeat;
			background-position: center  bottom;
			background-size: cover;
			text-align: center;

		}
		.subscription-section__content{

		}
		.subscription-section__content-title{
            /*width: 476px;
            height: 18px;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3.6px;*/

		}
		.subscription-section__item{

		}
		.subscription-section__input-box{
			/*display: flex;*/

		}
		.subscription-section__input-email{
			/*font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: left;
			padding-left: 20px;
			width: 280px;
			height: 60px;
			border-radius: 3px 0 0 3px;
			border: 0;
*/
		}
		.subscription-section__enter-button{
			/*color: #fff;
			background-color: #16a085;
			border: 0;
			width: 63px;
			height: 60px;
			border: none;
			cursor: pointer;
			text-transform: uppercase;
			border-radius: 0 3px 3px 0;
*/
		}
		.subscription-section__enter-button:hover{
			/*background-color: #0e826b;
			color: #fff;*/

		}
		.mobile-app-section{
			/* Style for "Rettangolo" */
            width: 1280px;
            height: 396px;
            background-color: #f5f6f7;

		}
		.mobile-app-section__content{

		}
		.mobile-app-section__content-name{
            /*width: 183px;
            height: 16px;
            color: #373737;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;*/
		}
		.mobile-app-section__content-text{
          /*  width: 840px;
            height: 54px;
            color: #373737;
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 1.8px;*/

		}
		.call-to-action-mobile-app-button{
			/*color: #fff;
			background-color: #1abc9c;
			border: 0;
			padding-left: 20px;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			text-align: left;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
			border-radius: 3px 0 0 3px;
			width: 240px;
			height: 56px;
*/
		}
		.call-to-action-mobile-app-button:hover{
			/*background-color: #0e826b;
			color: #fff;*/
		}

